@tailwind base;

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/RecoletaAlt-SemiBold.eot');
  src: local('Recoleta Alt SemiBold'), local('RecoletaAlt-SemiBold'),
      url('../fonts/RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RecoletaAlt-SemiBold.woff2') format('woff2'),
      url('../fonts/RecoletaAlt-SemiBold.woff') format('woff'),
      url('../fonts/RecoletaAlt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
       url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
       url('../fonts/Roboto-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

}

@tailwind components;

@tailwind utilities;

.text-7xl {
  font-size: 5rem;
}
