@tailwind base;

@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/RecoletaAlt-SemiBold.eot');
  src: local('Recoleta Alt SemiBold'), local('RecoletaAlt-SemiBold'),
    url('../fonts/RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RecoletaAlt-SemiBold.woff2') format('woff2'),
    url('../fonts/RecoletaAlt-SemiBold.woff') format('woff'),
    url('../fonts/RecoletaAlt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
    url('../fonts/Roboto-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@tailwind components;

@tailwind utilities;

.text-7xl {
  font-size: 5rem;
}

:root {
  --white: #ffffff;
  --sol-yellow: #b58900;
  --sol-orange: #cb4b16;
  --sol-red: #dc322f;
  --sol-magenta: #d33682;
  --sol-violet: #6c71c4;
  --sol-blue: #268bd2;
  --sol-cyan: #2aa198;
  --sol-green: #859900;
  --sol-light-0: #839496;
  --sol-light-1: #93a1a1;
  --sol-light-2: #CCC4B0;
  --sol-light-3: #ddd6c1;
  --sol-light-4: #eee8d5;
  --sol-light-5: #fdf6e3;
  --sol-light-6: #fffbf2;
  --sol-light-7: #ffffff40;
  --sol-light-8: #ffffff8a;
  --sol-light-9: #ffffffd6;
  --sol-light-10: #fff;
  --sol-dark-0: #657b83;
  --sol-dark-1: #586e75;
  --sol-dark-2: #004052;
  --sol-dark-3: #003847;
  --sol-dark-4: #073642;
  --sol-dark-5: #002b36;
  --sol-dark-6: #00212b;
  --sol-dark-7: #00000040;
  --sol-dark-8: #0000008a;
  --sol-dark-9: #000000d6;
  --sol-dark-10: #000;
}

.themeLight {
  --theme-p0: var(--sol-light-0);
  --theme-p1: var(--sol-light-1);
  --theme-p2: var(--sol-light-2);
  --theme-p3: var(--sol-light-3);
  --theme-p4: var(--sol-light-4);
  --theme-p5: var(--sol-light-5);
  --theme-p6: var(--sol-light-6);
  --theme-p7: var(--sol-light-7);
  --theme-p8: var(--sol-light-8);
  --theme-p9: var(--sol-light-9);
  --theme-p10: var(--sol-light-10);
  --theme-s0: var(--sol-dark-0);
  --theme-s1: var(--sol-dark-1);
  --theme-s2: var(--sol-dark-2);
  --theme-s3: var(--sol-dark-3);
  --theme-s4: var(--sol-dark-4);
  --theme-s5: var(--sol-dark-5);
  --theme-s6: var(--sol-dark-6);
  --theme-s7: var(--sol-dark-7);
  --theme-s8: var(--sol-dark-8);
  --theme-s9: var(--sol-dark-9);
  --theme-s10: var(--sol-dark-10);
}

.themeDark {
  --theme-p0: var(--sol-dark-0);
  --theme-p1: var(--sol-dark-1);
  --theme-p2: var(--sol-dark-2);
  --theme-p3: var(--sol-dark-3);
  --theme-p4: var(--sol-dark-4);
  --theme-p5: var(--sol-dark-5);
  --theme-p6: var(--sol-dark-6);
  --theme-p7: var(--sol-dark-7);
  --theme-p8: var(--sol-dark-8);
  --theme-p9: var(--sol-dark-9);
  --theme-p10: var(--sol-dark-10);
  --theme-s0: var(--sol-light-0);
  --theme-s1: var(--sol-light-1);
  --theme-s2: var(--sol-light-2);
  --theme-s3: var(--sol-light-3);
  --theme-s4: var(--sol-light-4);
  --theme-s5: var(--sol-light-5);
  --theme-s6: var(--sol-light-6);
  --theme-s7: var(--sol-light-7);
  --theme-s8: var(--sol-light-8);
  --theme-s9: var(--sol-light-9);
  --theme-s10: var(--sol-light-10);
}

/*
Inspired by the usage in Novella & Gatsby from 
https://github.com/narative/gatsby-theme-novela/blob/fb38329e17595df6e846be1d33517ff6125cde4e/src/components/Navigation/Navigation.Header.tsx
https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/dark-mode-toggle.js

The original inspiration is due to Aaron Iker
https://codepen.io/aaroniker/pen/KGpXZo
*/
.iconWrapper {
    /*
    both padding and appearance are here to help
    Mobile Safari rendering correctly, at least on
    older iOS versions — tested on iOS 12.4.2 / iPhone 5s
  */
  padding: 0;
  appearance: none;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  /*
    roughly compensates for the additional whitespace of this specific
    "icon button" in relation to its "social icon" siblings;
    leave the left untouched for some separation from the aforementioned
  */
  margin-right: -11px;
  opacity: 0.75;
  /*
    allows us to use the default :focus
    outline without the "moon mask" being taken into account
    by the browser when rendering the outline —
    not an ideal solution, but good for now
  */
  overflow: hidden;
  position: relative;
  /*
    scaling to 75% of the original size
    scales the "moon" shape from 24px to 18px,
    aligning it with the rest of the main nav's
    "social icons"; sun and its rays are slightly larger;
    good for now, too ;-)
  */
  transform: scale(0.75);
  transition: opacity 0.3s ease;
  vertical-align: middle;
  width: 40px;
}
.iconWrapper:hover {
  opacity: 1;
}

.moonOrSun {
  background: var(--sol-blue);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: relative;
  transition: all 0.45s ease;
  border: 2px solid var(--sol-blue);
  overflow: hidden;
  transform: scale(1);
}
.themeDark .moonOrSun {
  border: 4px solid var(--sol-blue);
  overflow: visible;
  transform: scale(0.55);
}
.moonOrSun::before {
  border-radius: 50%;
  border: 2px solid var(--sol-blue);
  content: "";
  height: 24px;
  position: absolute;
  right: -9px;
  top: -9px;
  transition: transform 0.45s ease;
  width: 24px;
  opacity: 1;
  transform: translate(0, 0);
}
.themeDark .moonOrSun::before {
  opacity: 0;
  transform: translate(14px, -14px);
}
.moonOrSun::after {
  border-radius: 50%;
  box-shadow: 0 -23px 0 var(--sol-blue),
    0 23px 0 var(--sol-blue),
    23px 0 0 var(--sol-blue),
    -23px 0 0 var(--sol-blue),
    15px 15px 0 var(--sol-blue),
    -15px 15px 0 var(--sol-blue),
    15px -15px 0 var(--sol-blue),
    -15px -15px 0 var(--sol-blue);
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 50%;
  width: 8px;
  transition: all 0.35s ease;
  transform: scale(0);
}
.themeDark .moonOrSun::after {
  transform: scale(1);
}

.moonMask {
  background: var(--white);
  border-radius: 50%;
  border: 0;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background 0.25s ease, transform 0.45s ease;
  width: 24px;
  opacity: 1;
  transform: translate(0, 0);
}
.themeDark .moonMask {
  opacity: 0;
  transform: translate(14px, -14px);
}
