:root {
  --white: #ffffff;
  --sol-yellow: #b58900;
  --sol-orange: #cb4b16;
  --sol-red: #dc322f;
  --sol-magenta: #d33682;
  --sol-violet: #6c71c4;
  --sol-blue: #268bd2;
  --sol-cyan: #2aa198;
  --sol-green: #859900;
  --sol-light-0: #839496;
  --sol-light-1: #93a1a1;
  --sol-light-2: #ccc4b0;
  --sol-light-3: #ddd6c1;
  --sol-light-4: #eee8d5;
  --sol-light-5: #fdf6e3;
  --sol-light-6: #fffbf2;
  --sol-light-7: #ffffff40;
  --sol-light-8: #ffffff8a;
  --sol-light-9: #ffffffd6;
  --sol-light-10: #fff;
  --sol-dark-0: #657b83;
  --sol-dark-1: #586e75;
  --sol-dark-2: #004052;
  --sol-dark-3: #003847;
  --sol-dark-4: #073642;
  --sol-dark-5: #002b36;
  --sol-dark-6: #00212b;
  --sol-dark-7: #00000040;
  --sol-dark-8: #0000008a;
  --sol-dark-9: #000000d6;
  --sol-dark-10: #000;
}

.themeLight {
  --theme-p0: var(--sol-light-0);
  --theme-p1: var(--sol-light-1);
  --theme-p2: var(--sol-light-2);
  --theme-p3: var(--sol-light-3);
  --theme-p4: var(--sol-light-4);
  --theme-p5: var(--sol-light-5);
  --theme-p6: var(--sol-light-6);
  --theme-p7: var(--sol-light-7);
  --theme-p8: var(--sol-light-8);
  --theme-p9: var(--sol-light-9);
  --theme-p10: var(--sol-light-10);
  --theme-s0: var(--sol-dark-0);
  --theme-s1: var(--sol-dark-1);
  --theme-s2: var(--sol-dark-2);
  --theme-s3: var(--sol-dark-3);
  --theme-s4: var(--sol-dark-4);
  --theme-s5: var(--sol-dark-5);
  --theme-s6: var(--sol-dark-6);
  --theme-s7: var(--sol-dark-7);
  --theme-s8: var(--sol-dark-8);
  --theme-s9: var(--sol-dark-9);
  --theme-s10: var(--sol-dark-10);
}

.themeDark {
  --theme-p0: var(--sol-dark-0);
  --theme-p1: var(--sol-dark-1);
  --theme-p2: var(--sol-dark-2);
  --theme-p3: var(--sol-dark-3);
  --theme-p4: var(--sol-dark-4);
  --theme-p5: var(--sol-dark-5);
  --theme-p6: var(--sol-dark-6);
  --theme-p7: var(--sol-dark-7);
  --theme-p8: var(--sol-dark-8);
  --theme-p9: var(--sol-dark-9);
  --theme-p10: var(--sol-dark-10);
  --theme-s0: var(--sol-light-0);
  --theme-s1: var(--sol-light-1);
  --theme-s2: var(--sol-light-2);
  --theme-s3: var(--sol-light-3);
  --theme-s4: var(--sol-light-4);
  --theme-s5: var(--sol-light-5);
  --theme-s6: var(--sol-light-6);
  --theme-s7: var(--sol-light-7);
  --theme-s8: var(--sol-light-8);
  --theme-s9: var(--sol-light-9);
  --theme-s10: var(--sol-light-10);
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
